  body {
    font-family: arial, sans-serif;
  }
  img {
    width: 20px;
    padding: 0px;
    padding-right: 5px;
    padding-lft: 5px;
    margin: 2px;
  }
  img:hover { width: 24px; margin:0px}

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: #aaaaaa;
  }
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  tr:nth-child(odd) {
    background-color: #eeeeee;
  }
