#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=XLogo-Online BlueBot
GenericName=XLogo-Online Bluebot
Comment="Programmieren mit Logo"
Keywords="lp21 informatik"
Icon=xlogo.png
Exec=/usr/share/bin/webapps https://xlogo.inf.ethz.ch/
Terminal=false
Categories=Education
