[Unit]
Description=Announce Puavo Devices
[Service]
Type=oneshot
ExecStart=/opt/puavo-update-status/sbin/puavo-avahi-publish
[Install]
WantedBy=multi-user.target
